*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#general{
    width: 1200px;
    border: 1px solid #ccc ;
    margin: 0px auto; /*Centra todo*/
}

#header{
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 219);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix{
    float: none;
    clear: both;
}

#menu{

    background-color: #eeeeee ;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;
    float: left;
    /*padding: 10px;*/ /**/
    border-right: 1px solid #ccc;

}

#menu ul li a{
    color: #4444;
    padding: 10px; /* Se le da el taamaño al a para que funciones con todo el enlace dentro de li*/
}

#menu ul li:hover{
    background-color:rgb(40, 40, 219) ;
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

#contenido{
    float: left;
    width: 69%;
    
}


#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    /*overflow: hidden;/*se ocultan el texto que sobresale de la caja*/
    /*overflow: scroll;/*Agrea un scrool para poder visualizar el texto que sobresale*/
    /*overflow-y: scroll;/*Se muestra el scrool de arriba*/
    overflow-x: scroll;/*el que viene por defecto*/


}

#contenido .caja{
    float: left;
    margin: 20px;
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border:1px solid gray;
    color: white;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color:#444;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px gray ;
    border-radius: 50px 10px 4px 61px;

}

.sombra-interior{
    box-shadow: 10px 10px 5px gray inset !important; /*El inset hace que la sombra se aplique adentro de la caja, important le da prioridad por ensima de las otras clases*/
}
#contenido h1{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    text-shadow: 0px 0px 2px gray ;
    
}

#footer{
    width: 100;
    height: 55px;
    line-height: 55px;
    background-color: #eee;
    text-align: center;
    border-top: 1px solid #ccc;
}
.libre{
    border: 1px solid black;
    background-color: red;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 13px;
    position: absolute; /*Permite mover libremente una caja*/
    /*position: relative;/*Es la posicion que viene por defecto*/
    top: 300px; /*Puedo poscinar*/
    left: 50%;/*Posicionar a la izquierda*/
}

.libre1{
    z-index: 2; /*mientras mas alto es el z-index mas alto estara por encima de las capas*/
}

.libre2{
    background-color: green;
    top: 280px;
    left: 50%;
    z-index: 1;
}

.fija{
    border: 1px solid black;
    background-color: blue;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 13px;
    position: fixed; /*Permite que la caja se quede fija*/
    top: 50%; 
    left: 0px
}