
{% load static%}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    
    <title>
            {%block title%}
            {%endblock%}
             /Hendrick Rafael
    </title>
    <link rel='stylesheet' type='text/css' href='{% static "css/style.css"%}'/>
  </head>
  <body>
    <h1>Sitio web con Django / Hendrick Rafael</h1>
    <hr />
    <ul>
      <li>
        <a href="/inicio"> Inicio</a>
      </li>
      <li>
        <a href="/hola-mundo"> Hola Mundo</a>
      </li>
      <li>
        <a href="/pagina"> Pagina</a>
      </li>
      <li>
        <a href="/contacto/rafael"> Contacto</a>
      </li>
    </ul>
    <hr/>
    <div id='content'>
      
      {% block content%}
      <!--Codigo que viene de templates-->
      <strong>Contenido de bloque orginal</strong>

      {%endblock%}
    </div>

  <hr/>
    <footer>
        Master en Python &copy; Hendrick Rafael
    </footer>

  </body>
</html>